@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    /* background: linear-gradient(45deg ,#fbda61,#ff5acd); */
}
.card
{
    position: relative;
    width: 350px;
    height: 190px;
    background: white;
    border-radius: 20px;
    box-shadow:5px 5px 20px;
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.imgBx
{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: rgb(122, 122, 122);
    border-radius: 20px;
    box-shadow: 5px 5px 20px ;
    overflow: hidden;
    transition: 0.5s;
}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card:hover .imgBx{
    width: 250px;
    height: 250px;
}
.card .content
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.card .content .details
{
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(150px);
}
.card:hover .content .details
{
    transform: translateY(0px);
}

.card .content .details h2{
    font-size: 1.8em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}
.card .content .details h2 span{
    font-size: 0.9em;
    font-weight: 500 ;
    opacity: 0.5;
}
.card .content .details .data
{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.card .content .details .data h3{
    font-size: 1em;
    color: #555;
    line-height: 2.2em;
    font-weight: 600;
}
.card .content .details .actionbtn
{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}
.card .content .details .actionbtn button
{
    padding: 10px 30px;
    border-radius: 5px;
    border:  none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #ff5acd;
    color: #fff;
    cursor: pointer;
}
.space
{
    padding: 10%;
}